<!-- hbox layout -->
<style>
    .help-block {
        color: #F05050;
        margin-bottom: 0px;
        font-weight: bold;
        font-style: oblique;
    }
    .self11_div{
        padding: 20px;
        padding-top: 0;
    }
</style>
<div class="hbox hbox-auto-xs bg-light"
     ng-init="app.settings.asideFixed = true;app.settings.asideDock = false; app.settings.container = false; app.hideAside = false; app.hideFooter = true;"
     ng-controller="OrgController">
    <!-- column -->
    <div class="col w-xl lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <span class="h4">组织管理</span>
            </div>
            <div class="wrapper b-t m-t-xxs">
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="m-b">
                                <button buttonpermission-Check permissioncode="org_create"  ng-click="add_a_org()" class="btn btn-sm btn-info">新增</button>
                                <button buttonpermission-Check permissioncode="org_update" type="button" ng-click="update_a_org()" class="btn btn-sm btn-info">编辑</button>
                                <button buttonpermission-Check permissioncode="org_delete" type="button" ng-click="delete_a_org()" class="btn btn-sm btn-danger">删除
                                </button>
                                <!--<button type="button" ng-click="synchronous_a_org()" class="btn btn-sm btn-success">同步</button>-->
                            </div>
                            <div class="b-a bg-light dk r r-2x">
                                <span ng-if="doing_async">...loading...</span>
                                <abn-tree
                                        tree-data="org"
                                        tree-control="my_tree"
                                        on-select="getOrg(branch)"
                                        expand-level="2"
                                        initial-selection="新城大厦机房"
                                        icon-leaf="fa fa-hospital-o"
                                        icon-expand="fa fa-plus"
                                        icon-collapse="fa fa-minus"
                                >
                                </abn-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="col w lt b-r">-->
        <!--<div class="vbox">-->
            <!--<div class="wrapper">-->
                <!--<span class="h4">下属部门管理</span>-->
            <!--</div>-->
            <!--<div class="wrapper b-t m-t-xxs">-->
            <!--</div>-->

            <!--<div class="self11_div">-->
                <!--<a class="btn btn-info btn-sm" ng-click="addDepartment()"-->
                   <!--style="margin-bottom: 10px;">新增</a>-->
                <!--<div class="cell-inner">-->
                    <!--<span ng-show="departmentList.length==0">暂无部门信息！</span>-->

                    <!--<div class="list-group">-->
                        <!--<a ng-repeat="item in departmentList"  ng-click="selectDepartment(item)"-->
                           <!--class="list-group-item  hover-anchor"-->
                           <!--ng-class="{'hover': item.selected }">-->
                                                    <!--<span  ng-click='deleteDepartment(item)'-->
                                                          <!--class="pull-right text-muted hover-action">-->
                                                        <!--<i class="fa fa-times"></i>-->
                                                    <!--</span>-->
                            <!--<span class="block text-ellipsis">-->
                                                        <!--{{item.orgName}}-->
                                                    <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="col lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <span class="h4">下属部门列表</span>
            </div>
            <div class="wrapper b-t m-t-xxs">
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="m-b">
                                <button type="button" ng-click="open('','add_department',null)" class="btn btn-sm btn-info">新增</button>
                            </div>

                            <div class="col-sm-12 ">
                                <div class="table-responsive" show-scroll>
                                    <table class="table table-striped b-t b-light">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>应用名称</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="department in departmentsList"
                                            onmouseover="style.backgroundColor='#F2F5F6'"
                                            onmouseout="style.backgroundColor='#FFFFFF'"
                                            style="cursor: pointer;">
                                            <td>{{$index+1}}</td>
                                            <td>{{department.orgName}}</td>
                                            <td><a class="fa fa-pencil fa-fw m-r-xs" title="编辑"
                                                   ng-click="update_department(department)"></a> <a
                                                    class="fa fa-times fa-fw" title="删除"
                                                    ng-click="delete_department(department.orgNo,department.orgName)"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <footer class="panel-footer" style="padding-bottom: 0">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"></div>
                                        <div class="col-sm-4 text-center">
                                            <small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
                                                共{{totalItems}}个
                                            </small>
                                        </div>
                                        <div class="col-sm-6 text-right text-center-xs">
                                            <pagination boundary-links="true" total-items="totalItems"
                                                        ng-model="currentPage" ng-change="pageChanged()"
                                                        max-size="maxSize" rotate="false"
                                                        class="pagination-sm m-t-none m-b" previous-text="&lsaquo;"
                                                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                                            </pagination>
                                        </div>
                                    </div>
                                </footer>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /column -->

<!-- /hbox layout -->