<style>
.help-block{
	color:#F05050;
	margin-bottom: 0px;
	font-weight:bold;
	font-style:oblique;
}
</style>
<div class="modal-dialog" style="height: 100%;margin: -1px;padding: -1px;">
	<div class="modal-content">
		<div class="modal-header"
			style="background: #000000; color: #ffffff;">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close"></button>
			<h4 class="modal-title">{{title}}</h4>
		</div>

		<div class="modal-body">
			<form name="orgForm" class="form-validation form-horizontal" ng-submit="submitForm(orgForm.$valid)" >

                <div class="form-group">
                    <label class="col-sm-2 control-label">名称<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入名称" name="org_name"
                               ng-model="orgItem.orgName"
                               required>
                        <!--<p ng-show="areaForm.area_name.$pristine&& submitted" class="help-block">请输入名称</p>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">地址<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入地址" name="address"
                               ng-model="orgItem.address"
                               required>
                        <p ng-show="orgForm.address.$invalid&&!orgForm.address.$pristine&&submitted"
                           class="help-block">请输入地址</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">负责人<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入负责人" name="chargePerson"
                               ng-model="orgItem.chargePerson"
                               required>

                        <p ng-show="orgForm.chargePerson.$invalid&&!orgForm.chargePerson.$pristine&&submitted"
                           class="help-block">请输入负责人</p>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">办公电话<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入固定电话" name="officeTel"
                               ng-model="orgItem.officeTel"
                               required>

                        <p ng-show="orgForm.officeTel.$invalid&&!orgForm.officeTel.$pristine&&submitted"
                           class="help-block">请输入办公电话</p>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">移动电话<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入移动电话" name="mobileTel"
                               ng-model="orgItem.mobileTel"
                               required>

                        <p ng-show="orgForm.mobileTel.$invalid&&!orgForm.mobileTel.$pristine&&submitted"
                           class="help-block">请输入移动电话</p>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="memo" ng-model="orgItem.memo"
                        ></textarea>
                    </div>
                </div>

            </form>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn btn-dark" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-info" ng-click="submitForm(orgForm.$valid)">确定</button>
		</div>
	</div>
</div>