<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light"
	ng-init="app.settings.asideFixed = true;app.settings.asideDock = false; app.settings.container = false; app.hideAside = false; app.hideFooter = true;"
	id="SystemUserDiv"
	ng-controller="SystemSysApplicationManagerController">
	<div class="bg-light lter b-b wrapper-md ng-scope">
		<h1 class="m-n font-thin h3">应用申请</h1>
	</div>

	<div class="wrapper-md ng-scope">
		<div class="panel panel-default">
			<div class="row wrapper">

				<div class="form-group" style="margin-top: 20px">
					<label class="col-sm-1 control-label">应用名称</label>
					<div class="col-sm-2">
						<input type="text" class="input-sm form-control" id="test1"
							name="appName" ng-model="applications.appName" />
					</div>
					<label class="col-sm-1 control-label">所属系统</label>
					<div class="col-sm-2">
						<input type="text" class="input-sm form-control" id="test1"
							name="sysId" ng-model="applications.sysId" />
					</div>
					<label class="col-sm-1 control-label">系统类型</label>
					<div class="col-sm-2">
						<select style="display: inline-block; width: auto;"
							class="form-control ng-pristine ng-valid ng-touched"
							ng-change="loadSysApplications()" style="width: 150px;"
							ng-model="applications.type">
							<option value="">不限</option>
							<option ng-repeat="x in sysApplicantTypeList"
								value="{{x.codeKey}}">{{x.codeText}}</option>
						</select>
					</div>
					<label class="col-sm-1 control-label">状态</label>
					<div class="col-sm-2">
						<select style="display: inline-block; width: auto;"
							class="form-control ng-pristine ng-valid ng-touched"
							ng-change="loadSysApplications()" style="width: 150px;"
							ng-model="applications.status">
							<option value="">不限</option>
							<option ng-repeat="x in sysApplicantStatusList"
								value="{{x.codeKey}}">{{x.codeText}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row wrapper">
				<div class="form-group">
					<label class="col-sm-1 control-label">开始时间</label>
					<div class="col-sm-2">
						<input type="text" class="input-sm form-control" id="test1"
							name="createDate" ng-model="applications.createDate" />
					</div>
					<label class="col-sm-1 control-label">结束时间</label>
					<div class="col-sm-2">
						<input type="text" class="input-sm form-control" id="test2"
							name="endDate" ng-model="applications.endDate" />
					</div>
					<div class="col-sm-1 m-b-xs">
						<button type="button" ng-click="open('','add',null)"
							class="btn btn-sm btn-default">申报</button>
					</div>

					<div class="col-sm-2">
						<button class="btn btn-sm btn-default" type="button"
							ng-click="search()">查询</button>
					</div>

				</div>
			</div>

			<div class="table-responsive" show-scroll>
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
							<th>序号</th>
							<th>应用名称</th>
							<th>系统名称</th>
							<th>系统类型</th>
							<th>系统描述</th>
							<th>应用状态</th>
							<th>审批意见</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tr ng-repeat="applications in sysapplications"
						onmouseover="style.backgroundColor='#F2F5F6'"
						onmouseout="style.backgroundColor='#FFFFFF'"
						style="cursor: pointer;">
						<td>{{$index+1}}</td>
						<td>{{applications.appName}}</td>
						<td>{{applications.sysName}}</td>
						<td>{{applications.sysType}}</td>
						<td>{{applications.memo}}</td>
						<td>{{applications.status}}</td>
						<td>{{applications.approvalOpinion}}</td>
						<td>{{applications.createDate}}</td>
						<td><a class="fa fa-pencil fa-fw m-r-xs" title="编辑"
							ng-click="open('','update',$index)"></a> <a
							class="fa fa-times fa-fw" title="删除"
							ng-click="deleteApplication(applications.id,applications.appName)"></a>
						</td>
					</tr>
				</table>
			</div>

			<footer class="panel-footer" style="padding-bottom: 0">
				<div class="row">
					<div class="col-sm-2 hidden-xs"></div>
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
							共{{totalItems}}个 </small>
					</div>
					<div class="col-sm-6 text-right text-center-xs">
						<pagination boundary-links="true" total-items="totalItems"
							ng-model="currentPage" ng-change="pageChanged()"
							max-size="maxSize" rotate="false"
							class="pagination-sm m-t-none m-b" previous-text="&lsaquo;"
							next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</pagination>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>

<!-- /hbox layout -->


