<style>
.help-block{
	color:#F05050;
	margin-bottom: 0px;
	font-weight:bold;
	font-style:oblique;
}
</style>
<div class="modal-dialog" style="height: 100%;margin: -1px;padding: -1px;">
	<div class="modal-content">
		<div class="modal-header"
			style="background: #000000; color: #ffffff;">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close"></button>
			<h4 class="modal-title">{{title}}</h4>
		</div>

		<div class="modal-body">
			<form name="applicationsForm" class="form-validation form-horizontal" ng-submit="submitForm(applicationsForm.$valid)" novalidate>
			    
                <div class="form-group">
                    <label class="col-sm-2 control-label">所属系统<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请选择所属系统" name="sysId" ng-model="applications.sysId" required="required">
                        <span style="color:red" ng-show="applicationsForm.sysId.$dirty && applicationsForm.sysId.$invalid">
                            <span ng-show="applicationsForm.sysId.$error.required">请选择所属系统</span>
                        </span>
                     </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">应用名称<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入应用名称" name="appName" ng-model="applications.appName" required="required">
                        <span style="color:red" ng-show="applicationsForm.appName.$dirty && applicationsForm.appName.$invalid">
                            <span ng-show="applicationsForm.appName.$error.required">请输入应用名称</span>
                        </span>
                     </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">办事指南地址<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入办事指南地址" name="guideAddr" ng-model="applications.guideAddr" required="required">
                        <span style="color:red" ng-show="applicationsForm.guideAddr.$dirty && applicationsForm.guideAddr.$invalid">
                            <span ng-show="applicationsForm.guideAddr.$error.required">请输入办事指南地址</span>
                        </span>
                     </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">在线办理地址<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入在线办理地址" name="onlineAddr" ng-model="applications.onlineAddr" required="required">
                        <span style="color:red" ng-show="applicationsForm.onlineAddr.$dirty && applicationsForm.onlineAddr.$invalid">
                            <span ng-show="applicationsForm.onlineAddr.$error.required">请输入在线办理地址</span>
                        </span>
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">在线咨询地址<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入在线咨询地址" name="onlineQaqAddr" ng-model="applications.onlineQaqAddr" required="required">
                        <span style="color:red" ng-show="applicationsForm.onlineQaqAddr.$dirty && applicationsForm.onlineQaqAddr.$invalid">
                            <span ng-show="applicationsForm.onlineQaqAddr.$error.required">请输入在线咨询地址</span>
                        </span>
                     </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">所属区划<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请选择所属区划" name="areaName" ng-model="area_name_show"
                               ng-click="showAreaList()" required onfocus="this.blur();">
                        <p ng-show="sysApplicantForm.areaName.$pristine&& submitted" class="help-block">请选择所属区划</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">业务类型<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-control"  name="applications.ywType" ng-init="selectedywType=ywTypeList[0].codeKey" ng-model="applications.ywType" ng-options=" item.codeKey as item.codeText for item in ywTypeList" required>
                            <option value="" style="display: none">-----请选择业务类型----</option>
                        </select>
                        <span ng-show="applicationsForm.ywType.$error.required">请输入业务类型</span>

                     </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">行政类别<span style="color:red;">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-control"  name="applications.xzType" ng-init="selectedxzType=xzTypeList[0].codeKey" ng-model="applications.xzType" ng-options=" item.codeKey as item.codeText for item in xzTypeList" required>
                            <option value="" style="display: none">-----请选择行政类别----</option>
                        </select>
                            <span ng-show="applicationsForm.xzType.$error.required">请输入行政类别</span>

                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述<span style="color:red;">*</span></label>

                    <div class="col-sm-10">
                        <textarea class="form-control ng-pristine ng-valid ng-touched" rows="6" name="memo" ng-model="sysApplicant.memo" placeholder="请输入系统描述"></textarea>

                        <span style="color:red" ng-show="applicationsForm.memo.$dirty && applicationsForm.memo.$invalid">
                            <span ng-show="applicationsForm.memo.$error.required">请输入描述</span>
                        </span>
                     </div>
                </div>

                <div class="row-row" ng-if="is_focus" class="area_modal" style="height: 160px;width:470px;margin-top:-15px;margin-left: 100px;display:block;position: absolute; background: white;padding: 20px;border: 1px solid #ccc;border-radius: 8px;">
                    <div class="cell scrollable hover" style="height: 100px;overflow-y: auto;background: white;">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="b-a bg-light dk r r-2x">
                                    <span ng-if="doing_async">...loading...</span>
                                    <abn-tree
                                            tree-data         = "area"
                                            tree-control      = "my_tree"
                                            on-select         = "getArea(branch)"
                                            expand-level      = "2"
                                            initial-selection = "新城大厦机房"
                                            icon-leaf			= "fa fa-hospital-o"
                                            icon-expand       = "fa fa-plus"
                                            icon-collapse     = "fa fa-minus"
                                    >
                                    </abn-tree>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="ensureArea()" class="btn btn-sm btn-info" style="margin-top: 5px;float: right;">确定</button>
                </div>
                
                
            </form>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn btn-dark" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-dark" ng-click="submitForm(applicationsForm.$valid)">保存</button>
		</div>
	</div>
</div>