<link rel="stylesheet" type="text/css" href="/assets/easyui/easyui.css">
<script type="text/javascript" src="/assets/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assets/easyui/treegrid-dnd.js"></script>

<div class="modal-header ng-scope">
    <h3 class="modal-title" style="display: inline">权限</h3>
</div>
<div class="modal-body ng-scope  bg-white">
	<!-- <div class="b-a bg-light dk r r-2x">
		<div ivh-treeview="stTargetData"
          ivh-treeview-expand-to-depth="-1"
          ivh-treeview-on-cb-change="otherAwesomeCallback(ivhNode, ivhIsSelected)"></div>
      </div> -->

      <ul id="stTarTree"></ul>


</div>
<div class="modal-footer ng-scope">
    <button type="reset" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="submit" class="btn btn-primary" ng-click="ok()" >确定
    </button>
</div>