<style>
.help-block{
	color:#F05050;
	margin-bottom: 0px;
	font-weight:bold;
	font-style:oblique;
}
</style>
<div class="modal-dialog" style="height: 100%;margin: -1px;padding: -1px;">
	<div class="modal-content">
		<div class="modal-header"
			style="background: #000000; color: #ffffff;">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close"></button>
			<h4 class="modal-title">{{title}}</h4>
		</div>

<div class="wrapper-md ng-scope">
		<div class="panel panel-default">
			<div class="table-responsive" show-scroll>
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
						<th style="width: 30px;"></th>
							<th>序号</th>
							<th>应用名称</th>
							<th>系统名称</th>
							<th>系统类型</th>
							<th>系统描述</th>
							<th>版本号</th>
							<th>审批意见</th>
							<th>创建时间</th>
							
						</tr>
					</thead>
					<tr ng-repeat="version in sysversion"
						onmouseover="style.backgroundColor='#F2F5F6'"
						onmouseout="style.backgroundColor='#FFFFFF'"
						style="cursor: pointer;">
						<td><label class="i-checks m-b-bone"><input
												ng-model="chk" ng-click="choose(chk,version,$index)"
												type="checkbox" ng-checked="master" name="test[]"><i></i>
										</label></td>
						<td>{{$index+1}}</td>
						<td>{{version.appName}}</td>
						<td>{{version.sysName}}</td>
						<td>{{version.sysType}}</td>
						<td>{{version.memo}}</td>
						<td>{{version.version}}</td>
						<td>{{version.approvalOpinion}}</td>
						<td>{{version.createDate}}</td>
						
					</tr>
				</table>
			</div>

			<!-- <footer class="panel-footer" style="padding-bottom: 0">
				<div class="row">
					<div class="col-sm-2 hidden-xs"></div>
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
							共{{totalItems}}个 </small>
					</div>
					<div class="col-sm-6 text-right text-center-xs">
						<pagination boundary-links="true" total-items="totalItems"
							ng-model="currentPage" ng-change="pageChanged()"
							max-size="maxSize" rotate="false"
							class="pagination-sm m-t-none m-b" previous-text="&lsaquo;"
							next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</pagination>
					</div>
				</div>
			</footer> -->
		</div>
	</div>
		
		<div class="modal-footer">
			<button type="reset" class="btn btn-dark" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-dark" ng-click="submit(chooseVersion)">保存</button>
		</div>
	</div>
</div>