<style>
.help-block {
	color: #F05050;
	margin-bottom: 0px;
	font-weight: bold;
	font-style: oblique;
}
</style>
<div class="modal-body wrapper-lg">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="m-t-none m-b font-thin">{{title}}</h3>

			<form name="approveForm" class="form-validation"
				ng-submit="submitForm(approveForm.$valid)" novalidate>
				<div class="form-group">
					<label>应用名称:</label> {{approve.app_name}}
				</div>
				<div class="form-group">
					<label>系统类型:</label>{{approve.sys_type_name}}
				</div>
				<div class="form-group">
					<label>组织类型:</label> {{approve.org_name}}
				</div>
				<!-- <div class="form-group">
					<label>业务类型:</label> {{approve.yw_type}}
				</div>
				<div class="form-group">
					<label>行政类别:</label> {{approve.xz_type}}
				</div> -->
				<div class="form-group">
					<label>功能描述:</label> {{approve.memo}}
				</div>
				<div class="form-group">
					<label>审批结果:<span style="color: red;">*</span></label> <select
						ng-model="approve.approval_status" class ="form-zn-control"
						ng-options="x.codeSortKey as x.codeSortText for x in applicationStatusList">
						<option value="" style="display: none;">-----请选择-----</option>
					</select>
				</div>
				<div class="form-group">
					<label>审批意见:</label> <textarea class="form-control"
						placeholder="请输入审批意见" name="approvalOpinion"
						ng-model="approve.approval_opinion" ></textarea>
				</div>
			</form>

		</div>
			<div class="modal-footer">
					<button type="reset" class="btn btn-dark" ng-click="cancel()">取消</button>
					<button type="submit" class="btn btn-dark"
						ng-click="submitForm(approveForm.$valid)">保存</button>
				</div>
	</div>
</div>