<style>
.help-block {
	color: #F05050;
	margin-bottom: 0px;
	font-weight: bold;
	font-style: oblique;
}
</style>
<div class="modal-body wrapper-lg">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="m-t-none m-b font-thin">{{title}}</h3>

			<form name="applicationForm" class="form-validation" ng-submit="submitForm(applicationForm.$valid)" novalidate>
				<div class="form-group">
					<label>应用名称</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="app_name"
						ng-model="application.app_name" required>
					<p ng-show="applicationForm.app_name.$pristine&& submitted"
						class="help-block">请输入应用名称</p>
				</div>
				<div class="form-group">
					<label>系统类型</label> <input type="text" class="form-control"
						placeholder="请输入系统类型" name="sys_type"
						ng-model="application.sys_type" 
						required>
					<p ng-show="applicationForm.sys_type.$pristine&& submitted"
						class="help-block">请输入系统类型</p>
					<!--  <p ng-show="applicationForm.account.$error.minlength&& submitted" class="help-block">账号不得少于5个字符</p>
        		      <p ng-show="applicationForm.account.$error.maxlength&& submitted" class="help-block">账号不得大于15个字符</p> -->
				</div>
				<div class="form-group">
					<label>接入类型</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="access_type"
						ng-model="application.access_type" required>
					<p ng-show="applicationForm.access_type.$pristine&& submitted"
						class="help-block">请输入接入类型</p>
				</div>
				<div class="form-group">
					<label>状态</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="status" ng-model="application.status"
						required>
					<p ng-show="applicationForm.status.$pristine&& submitted"
						class="help-block">请输入状态</p>
				</div>
				<div class="form-group">
					<label>办事指南地址</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="guide_addr"
						ng-model="application.guide_addr" required>
					<p ng-show="applicationForm.guide_addr.$pristine&& submitted"
						class="help-block">办事指南地址</p>
				</div>
				<div class="form-group">
					<label>在线办理地址</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="online_addr"
						ng-model="application.online_addr" required>
					<p ng-show="applicationForm.online_addr.$pristine&& submitted"
						class="help-block">在线办理地址</p>
				</div>
				<div class="form-group">
					<label>在线咨询地址</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="online_qaq_addr"
						ng-model="application.online_qaq_addr" required>
					<p ng-show="applicationForm.online_qaq_addr.$pristine&& submitted"
						class="help-block">在线咨询地址称</p>
				</div>
				<div class="form-group">
					<label>业务类型</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="yw_type"
						ng-model="application.yw_type" required>
					<p ng-show="applicationForm.name.$pristine&& submitted"
						class="help-block">请输入业务类型</p>
				</div>
				<div class="form-group">
					<label>行政类别</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="xz_type"
						ng-model="application.xz_type" required>
					<p ng-show="applicationForm.xz_type.$pristine&& submitted"
						class="help-block">请输入行政类别</p>
				</div>
				<div class="form-group">
					<label>功能描述</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="memo" ng-model="application.memo"
						required>
					<p ng-show="applicationForm.memo.$pristine&& submitted"
						class="help-block">请输入功能描述</p>
				</div>
				<div class="form-group">
					<label>办理类型</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="bl_type"
						ng-model="application.bl_type" required>
					<p ng-show="applicationForm.bl_type.$pristine&& submitted"
						class="help-block">请输入办理类型</p>
				</div>
				<div class="form-group">
					<label>服务类型</label> <input type="text" class="form-control"
						placeholder="请输入应用名称" name="server_type"
						ng-model="application.server_type" required>
					<p ng-show="applicationForm.server_type.$pristine&& submitted"
						class="help-block">请输入服务类型</p>
				</div>
				<div class="form-group">
					<label>图标</label> <input type="text" class="form-control"
						placeholder="请输入图标" name="icon_url"
						ng-model="application.icon_url" required>
					<p ng-show="applicationForm.icon_url.$pristine&& submitted"
						class="help-block">请输入图标</p>
				</div>
			</form>
			
		</div>
		<div class="modal-footer">
					<button type="reset" class="btn btn-dark" ng-click="cancel()">取消</button>
					<button type="submit" class="btn btn-dark"
						ng-click="submitForm(applicationForm.$valid)">保存</button>
				</div>
	</div>
</div>