<!-- hbox layout -->
<style>
.help-block {
	color: #F05050;
	margin-bottom: 0px;
	font-weight: bold;
	font-style: oblique;
}
</style>
<div class="hbox hbox-auto-xs bg-light"
	ng-init="app.settings.asideFixed = true;app.settings.asideDock = false; app.settings.container = false; app.hideAside = false; app.hideFooter = true;"
	ng-controller="ApplicationController">
	<orgtree-nav></orgtree-nav>

	<!-- column -->
	<div class="wrapper-md ng-scope">
		<div class="panel panel-default">
			<div class="row wrapper">
				<div class="col-sm-5 m-b-xs">
					<button type="button" ng-click="open('','add',null)"
						class="btn btn-dark btn-sm">新增</button>
					<button class="btn btn-dark btn-sm" type="button" ng-click="update();">编辑</button>
					<button class="btn btn-dark btn-sm" type="button" ng-click="deleteModal();">删除</button>
					<button type="button" ng-click="audit()" class="btn btn-dark btn-sm">审核</button>
					<button type="button" ng-click="rollbackVersion()" class="btn btn-dark btn-sm">版本管理</button>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="input-sm form-control"
							placeholder="请输入姓名" ng-model="keyword"> <span
							class="input-group-btn">
							<button class="btn btn-sm btn-default" type="button"
								ng-click="search()">搜索</button>
						</span>
					</div>
				</div>
			</div>
			<div class="table-responsive" show-scroll>
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
							<th style="width: 30px;"><label class="i-checks m-b-bone">
									<input type="checkbox" ng-model="master"
									ng-click="chooseAll(master)"> <i></i>
							</label></th>
							<th>序号</th>
							<th>应用名称</th>
							<th>组织名称</th> 
							<th>系统类型</th>
							<th>审核状态</th>
							<th>上线状态</th>
							<th>版本</th>
							<th>操作</th>
						</tr>
					</thead>
					<tr ng-repeat="application in applicationList">
						<td><label class="i-checks m-b-bone"><input
								ng-model="chk" ng-click="choose(chk,application,$index)"
								type="checkbox" ng-checked="master" name="test[]"><i></i>
						</label></td>
						<td>{{$index+1}}</td>
						<td>{{application.app_name}}</td>
						 <td>{{application.org_name}}</td> 
						<td>{{application.sys_type_name}}</td>
						<td>{{application.approval_status_name}}</td>
						<td>{{application.working_status_name}}</td>
						<td>{{application.version}}</td>
						<td>
						
						<a class="fa fa-pencil fa-fw ng-scope" title="启用" ng-if ='application.working_status==00'
							ng-click="updateWorkStatus('{{application.info_id}}','{{application.org_id}}','{{application.app_id}}','{{application.sys_type}}','01')"></a>
							<a class="fa fa-refresh fa-fw m-r-xs" title="禁用"   ng-if ='application.working_status==01'
							ng-click="updateWorkStatus('{{application.info_id}}','{{application.org_id}}','{{application.app_id}}','{{application.sys_type}}','00')"></a>
							</td>
					</tr>
				</table>
			</div>

			<footer class="panel-footer" style="padding-bottom: 0">
				<div class="row">
					<div class="col-sm-2 hidden-xs"></div>
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
							共{{totalItems}}个 </small>
					</div>
					 <div class="col-sm-6 text-right text-center-xs">

                        <pagination
                                boundary-links="true"
                                total-items="totalItems"
                                ng-model="currentPage"
                                ng-change="pageChanged()"
                                max-size="maxSize"
                                rotate="false"
                                class="pagination-sm m-t-none m-b"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                        </pagination>

                    </div> 
				</div>
			</footer>

		</div>

	</div>
</div>
<!-- /column -->
</div>
<!-- /hbox layout -->