<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-white" ng-controller="OrgUserController">

<orgtree-nav></orgtree-nav>

    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span class="text-muted">人员列表</span>
            </div>
            <div class="row wrapper-xs">
                <div class="col-sm-5 m-b-xs">
                    <span>
                      <button class="btn btn-sm btn-info" style="margin-bottom: -1px!important;"
                              ng-disabled="orgId==null||orgId==-1"
                              ng-click="open('','add',null)">新增
                      </button>
                       <button class="btn btn-sm btn-info" style="margin-bottom: -1px!important;" ng-disabled="orgId==-1||row == null ||row.hpTarId == -1"
                              ng-click="editeTarget('update')">修改
                      </button>
                    <!--    <button class="btn btn-sm btn-warning" style="margin-bottom: -1px!important;" ng-disabled="orgId==-1||row == null ||row.hpTarId == -1||row.type == '01'"
                              ng-click="stopTarget()">{{statusText}}
                      </button> -->
                       <button class="btn btn-sm btn-danger" style="margin-bottom: -1px!important;" ng-disabled="orgId==-1||row == null ||row.hpTarId == -1"
                              ng-click="deleteTarget()">删除
                      </button>
                    </span>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="panel panel-default no-border" style="margin: 0;padding: 0;overflow-x: hidden">
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light animated fadeIn">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>账号</th>
                                        <th>密码</th>
                                        <th>邮箱</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in users">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.account}}</td>
                                        <td>{{item.pwd|pwd}}</td>
                                        <td>{{item.mail}}</td>
                                        <td>
                                            <a class="fa fa-refresh fa-fw m-r-xs" ng-click="reset($index)"></a>
                                            <a class="fa fa-pencil fa-fw m-r-xs"
                                               ng-click="open('','update',$index)"></a>
                                            <a class="fa fa-times fa-fw" ng-click="delete($index)"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="panel-footer" style="padding-bottom: 0">
                <div class="row">
                    <div class="col-sm-2 hidden-xs">
                    </div>
                    <div class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
                            共{{totalItems}}个
                        </small>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">

                        <pagination
                                boundary-links="true"
                                total-items="totalItems"
                                ng-model="currentPage"
                                ng-change="pageChanged()"
                                max-size="maxSize"
                                rotate="false"
                                class="pagination-sm m-t-none m-b"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                        </pagination>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- /column -->

</div>
<!-- /hbox layout -->
