.control_icon:hover {
    background: #FC6;
    opacity: 1.0;
}

.control_icon > i.collapse:before {
    content: "\f0d9";
}

.control_icon > i.expand:before {
    content: "\f0da";
}

.treeShow {
    overflow-y: hidden;
    width: 200px;
    transition: 0.5s;
    opacity: 1;
}

.treeHide {
    overflow-y: hidden;
    visibility: hidden;
    width: 0px;
    opacity: 0;
    transition: 0.5s;
}