<style>
	.w-md {
		width: 500px;
	}
	.root{
		display: flex;
	}
</style>
<!-- hbox layout -->
<div class="root">
	<div class="hbox hbox-auto-xs bg-light bg-cell" ng-controller="SystemCodeSortController">
		<div class="col w-md lt b-r">
			<div class="vbox">
				<div class="row wrapper">
					<div class="wrapper">
						<a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="open('','add',null)">新增</a>
						<div class="h3">数据字典管理</div>
					</div>
					<div class="wrapper b-t m-t-xxs wrapper-xs">
						<div class="input-group">
						<input type="text" class="input-sm form-control" placeholder="请输入关键词" ng-model="keyword">
						<span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="button" ng-click="search()">搜索</button>
						</span>
						</div>
					</div>
				</div>
				<div class="table-responsive" show-scroll>
					<table class="table table-striped b-t b-light">
						<thead>
							<tr>
								<th>序号</th>
								<th>字典名称</th>
								<th>字典说明</th>
								<th>操作</th>
							</tr>
						</thead>
						<tr ng-repeat="sort in codesorts"
							onmouseover="style.backgroundColor='#F2F5F6'"
							onmouseout="style.backgroundColor='#FFFFFF'"
							style="cursor: pointer;" ng-click="loadCodeDetails(sort)">
							<td>{{$index+1}}</td>
							<td>{{sort.codeSortKey}}</td>
							<td>{{sort.codeSortText}}</td>
							<td>
								<a class="fa fa-pencil fa-fw m-r-xs" title="修改"
								ng-click="open('','update',$index)"></a>
								<a class="fa fa-times fa-fw" title="删除" ng-click="deleteCodeSort(sort.codeSortId,sort.codeSortKey)"></a>
							</td>
						</tr>
					</table>
				</div>
				<footer class="panel-footer" style="padding-bottom: 0">
					<div class="row">
						<div class="col-sm-2 hidden-xs">
						</div>
						<div class="col-sm-4 text-center">
							<small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
								共{{totalItems}}个
							</small>
						</div>
						<div class="col-sm-6 text-right text-center-xs">
							<pagination
									boundary-links="true"
									total-items="totalItems"
									ng-model="currentPage"
									ng-change="pageChanged()"
									max-size="maxSize"
									rotate="false"
									class="pagination-sm m-t-none m-b"
									previous-text="&lsaquo;"
									next-text="&rsaquo;"
									first-text="&laquo;"
									last-text="&raquo;">
							</pagination>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>


	<div class="hbox hbox-auto-xs bg-light bg-cell" ng-controller="SystemCodeController">
		<div class="col w-md lt b-r">
			<div class="vbox">
				<div class="row wrapper">
					<div class="wrapper">
						<a href="" class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="open('','add',null)">新增</a>
						<div class="h3">明细</div>
					</div>
				</div>
				<div class="table-responsive" show-scroll>
					<table class="table table-striped b-t b-light">
						<thead>
							<tr>
								<th>序号</th>
								<th>键说明</th>
								<th>文本说明</th>
								<th>操作</th>
							</tr>
						</thead>
						<tr ng-repeat="code in codedetails"
							onmouseover="style.backgroundColor='#F2F5F6'"
							onmouseout="style.backgroundColor='#FFFFFF'"
							style="cursor: pointer;">
							<td>{{$index+1}}</td>
							<td>{{code.codeKey}}</td>
							<td>{{code.codeText}}</td>
							<td>
								<a class="fa fa-pencil fa-fw m-r-xs" title="修改"
									ng-click="open('','update',$index)"></a>
								<a class="fa fa-times fa-fw" title="删除" ng-click="deleteCode(code.codeId)"></a>
							</td>
						</tr>
					</table>
				</div>
				<footer class="panel-footer" style="padding-bottom: 0">
					<div class="row">
						<div class="col-sm-2 hidden-xs">
						</div>
						<div class="col-sm-4 text-center">
							<small class="text-muted inline m-t-sm m-b-sm">第{{currentPage}}页
								共{{totalItems}}个
							</small>
						</div>
						<div class="col-sm-6 text-right text-center-xs">
							<pagination
									boundary-links="true"
									total-items="totalItems"
									ng-model="currentPage"
									ng-change="pageChanged()"
									max-size="maxSize"
									rotate="false"
									class="pagination-sm m-t-none m-b"
									previous-text="&lsaquo;"
									next-text="&rsaquo;"
									first-text="&laquo;"
									last-text="&raquo;">
							</pagination>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>
<!-- /hbox layout -->


