<style>
</style>
<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="m-t-none m-b font-thin">{{title}}</h3>

            <div class="modal-body">
                <form name="codeForm" class="form-validation form-horizontal" ng-submit="submitForm(codeForm.$valid)"    novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">键说明<span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入键说明" name="codeKey" ng-model="codedetail.codeKey" required="required">
                            <span style="color:red" ng-show="codeForm.codeKey.$dirty && codeForm.codeKey.$invalid">
                                <span ng-show="codeForm.codeKey.$error.required">请输入键说明</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文本说明<span style="color:red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="请输入文本说明" name="codeText" ng-model="codedetail.codeText" required="required">
                            <span style="color:red" ng-show="codeForm.codeText.$dirty && codeForm.codeText.$invalid">
                                <span ng-show="codeForm.codeText.$error.required">请输入文本说明</span>
                            </span>
                        </div>
                    </div>
                    <div class="checkbox m-t-lg pull-right">
                        <button type="reset" class="btn btn-default" ng-click="cancel()">取消</button>
                        <button type="submit" class="btn btn-primary" >保存</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>